.header {
  color: #FFF;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #e8e7e7;
  border-bottom: solid 4px #8373ca;
}

.header h1,
.header h2 {
  padding: 5px 15px;
  color: white;
  font-weight: 500;
  padding-top: 0px;
  transition-duration: .1s;
  font-size: 1.25em;
}

.header a {
  text-decoration: none;
}

.header a:hover h1,
.header a:hover h2 {
  padding-top: 0;
  padding-bottom: 0;
}

.header a.active h1,
.header a.active h2 {
  padding-top: 0;
  padding-bottom: 0;
}

.todo-tab {
  flex-grow: 1;
  text-align: left;
  border-radius: 6px 6px 0px 0;
  background-color: #5B45B9; 
}

.daily-tab {
  background: #7b69c7;
  border-radius: 6px 6px 0 0 ;
}

.weekly-tab {
  background: #9c8fd5;
  border-radius: 6px 6px 0 0 ;
}

.monthly-tab {
  background: #bdb4e3;
  border-radius: 6px 6px 0 0 ;
}

.quarterly-tab {
  background: #a296d7;
  border-radius: 6px 6px 0 0 ;
}